<div id="menu">
  <div>
    <a [ngClass]="{'selected': IsCoursSelected()}" *ngIf="security.isConnected()" routerLink="cours"
      routerLinkActive="active" ariaCurrentWhenActive="page">Cours</a>
    <a [ngClass]="{'selected': IsEtudiantsSelected()}" *ngIf="security.isConnected()" routerLink="etudiants"
      routerLinkActive="active" ariaCurrentWhenActive="page">Etudiants</a>
  </div>
  <!--*ngIf="security.isConnected()" si user n'est pas connecte, on voit pas le menu-->
  <button *ngIf="security.isConnected()" (click)="logout()" class="logoutBtn-style">Deconnexion</button>
</div>

<div id="content" class="container">
  <router-outlet></router-outlet>
</div>


<!-- NOTE 
  
  [ngClass] pour appliquer la classe CSS "selected" si la méthode IsCoursSelected() renvoie true, 
  ce qui indique que la page "Cours" est actuellement sélectionnée. 
  
Le lien est conditionné par *ngIf="security.isConnected()", ce qui signifie qu'il ne sera affiché que si l'utilisateur est connecté.

-->