<div id="menu">
  <div>
    <a [ngClass]="{'selected': IsCoursSelected()}" *ngIf="security.isConnected()" routerLink="cours"
      routerLinkActive="active" ariaCurrentWhenActive="page">Cours</a>
    <a [ngClass]="{'selected': IsEtudiantsSelected()}" *ngIf="security.isConnected()" routerLink="etudiants"
      routerLinkActive="active" ariaCurrentWhenActive="page">Etudiants</a>
  </div>
  <!--*ngIf="security.isConnected()" si user n'est pas connecte, on voit pas le menu-->
  <button *ngIf="security.isConnected()" (click)="logout()">Deconnexion</button>
</div>

<div id="content">
  <router-outlet></router-outlet>
</div>