<!-- <h1>Liste de tous les cours</h1> -->
<table class="table">
    <thead>
        <tr>
            <th>Session</th>
            <th>Departement</th>
            <th>Cours</th>
            <th>Professeur</th>
        </tr>
    </thead>
    <tbody>
        <!-- Use *ngFor to iterate through the courses array and display each course -->
        <tr *ngFor="let course of courses" (click)="showDetails(course)">
            <td>{{ course.Semester }}</td>
            <td>{{ course.Department }}</td>
            <td>{{ course.Course }}</td>
            <td *ngIf="course.TeacherFirstName && course.TeacherLastName">{{ course.TeacherFirstName + ' ' +
                course.TeacherLastName }}</td>
            <td *ngIf="!course.TeacherFirstName || !course.TeacherLastName">N/A</td>
        </tr>
    </tbody>
</table>

<!--call cours-details-->
<app-cours-details *ngIf="showCourseDetails" (closeModal)="showCourseDetails = false" (refreshPage)="fetchData()"
    [students]="courseStudents" [courses]="courses" [currentCourseID]="currentCourseID"
    [currentCourseSemester]="currentCourseSemester" [currentSemesterID]="currentSemesterID"
    [currentCourseSemesterID]="currentCourseSemesterID" [teachers]="teachers" />
<!--apres aller voir cours.component.ts-->


<!-- NOTE
cours.component.html
qui affiche les détails des cours à l'aide de *ngFor pour itérer à travers un tableau de cours (courses).
-->